.home {
  width: 90vw;
}

.detail-container {
  width: 90vw;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail {
  margin: 0.5rem 0;
}

.title {
  font-size: 2rem;
  background-color: #B5CDA3;
  border-radius: 10px;
  padding: 0.2rem;
  align-self: center;
}
.totalPrice {
  background-color:#FAEBE0;
}

.summary {
  border-radius: 10px;
  margin-bottom: 0.3rem;
}
.summary:hover {
  box-shadow: 0 0 10px rgba(32,32,32,.2);
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.itemrow {
  margin-bottom: 0.5rem;
  border: #B5CDA3 solid 1px;
  border-radius: 10px;
  padding: 0.2rem;
}

.itemrow:hover {
  box-shadow: 0 0 10px rgba(32,32,32,.2);
}