.button-toggle {
  border: none;
  background-color: #C9E4C5;
  margin: 0.5rem 0 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
.button-toggle:hover {
  box-shadow: 0 0 10px rgba(32,32,32,.2);
  cursor: pointer;
}